* {
  font-family: inherit;
}

html {
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: var(--fs-xl);
  color: var(--color-text);
}

h2 {
  font-size: var(--fs-large);
  color: var(--color-text);
}

p,
input {
  font-size: var(--fs-reg);
  color: var(--color-text);
}

a,
a:visited {
  color: var(--color-text);
}
