* {
  font-family: inherit;
}

html {
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
p,
input,
a,
a:visited {
  color: var(--color-text);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

p,
input {
  font-size: var(--fs-text);
}

li {
  font-size: var(--fs-nav);
}
