// Puzzle
.bb {
  border-bottom: var(--border-black-thick) !important;
}

.bt {
  border-top: var(--border-black-thick) !important;
}

.bl {
  border-left: var(--border-black-thick) !important;
}

.hint {
  background-color: #ddd !important;
  opacity: 1 !important;
}

// Buttons
.enabled {
  background: var(--color-grey-light) !important;
  color: var(--color-text) !important;

  &:active {
    transform: translateY(2px) !important;
  }
}

// Nav
.active {
  display: flex !important;
}
