.bb {
  border-bottom: var(--border-black-thick);
}

.bt {
  border-top: var(--border-black-thick);
}

.bl {
  border-left: var(--border-black-thick);
}

.hint {
  background-color: #ddd;
  opacity: 1;
}
