@use "../base" as *;

:root {
  // Colors
  --bg-color: #aadeff;
  --bg-color-dark: #8acbf4;
  --color-grey-light: #fdfdfd;

  --color-text: #000;

  // Font-size
  --fs-reg: 1rem;
  --fs-large: 1.3rem;
  --fs-xl: 1.5rem;

  // Border radius
  --b-rad-xsm: 0.3rem;
  --b-rad-sm: 0.5rem;
  --b-rad-med: 0.7rem;

  // Border
  --border-black-thick: 3px solid #000;

  // Gaps
  --gap-small: 1rem;
  --gap-medium: 2rem;

  @include breakpoint(small) {
    --fs-reg: 1.3rem;
    --fs-large: 1.6rem;
    --fs-xl: 1.9rem;
  }

  @include breakpoint(medium) {
    --fs-reg: 1.3rem;
    --fs-large: 1.8rem;
    --fs-xl: 2rem;
  }

  @include breakpoint(large) {
    --fs-reg: 1.8rem;
    --fs-large: 2.2rem;
    --fs-xl: 2.5rem;
  }
}
