@use "../base" as *;

:root {
  // Colors
  --bg-color: #aadeff;
  --bg-color-dark: #8acbf4;
  --color-grey-light: #fdfdfd;

  --color-text: #000;

  // Font-size
  --fs-base: 1rem;

  --fs-nav: calc(var(--fs-base) * 1.1);
  --fs-h1: calc(var(--fs-base) * 1.3);
  --fs-h2: calc(var(--fs-base) * 1.2);
  --fs-text: calc(var(--fs-base) * 1);
  --fs-cell: calc(var(--fs-base) * 1);
  --fs-timer: calc(var(--fs-base) * 1.5);
  --fs-btn: calc(var(--fs-base) * 0.7);

  // Border radius
  --b-rad-xsm: 0.3rem;
  --b-rad-sm: 0.5rem;
  --b-rad-med: 0.7rem;

  // Border
  --border-black-thick: 3px solid #000;

  // Gaps
  --gap-small: 1rem;
  --gap-medium: 2rem;

  @include breakpoint(small) {
    --fs-nav: calc(var(--fs-base) * 1.4);
    --fs-h1: calc(var(--fs-base) * 1.8);
    --fs-h2: calc(var(--fs-base) * 1.5);
    --fs-text: calc(var(--fs-base) * 1.2);
    --fs-cell: calc(var(--fs-base) * 1.2);
  }

  @include breakpoint(medium) {
    --fs-nav: calc(var(--fs-base) * 1.3);
    --fs-h1: calc(var(--fs-base) * 2);
    --fs-h2: calc(var(--fs-base) * 1.7);
    --fs-text: calc(var(--fs-base) * 1.2);
    --fs-cell: calc(var(--fs-base) * 1.5);
    --fs-timer: calc(var(--fs-base) * 2);
    --fs-btn: calc(var(--fs-base) * 1);
  }

  @include breakpoint(large) {
    --fs-nav: calc(var(--fs-base) * 1.5);
    --fs-h1: calc(var(--fs-base) * 2.3);
    --fs-h2: calc(var(--fs-base) * 1.7);
    --fs-text: calc(var(--fs-base) * 1.1);
    --fs-cell: calc(var(--fs-base) * 1.6);
    --fs-timer: calc(var(--fs-base) * 2.2);
    --fs-btn: calc(var(--fs-base) * 1.2);
  }

  @include breakpoint(xlarge) {
    --fs-text: 1.3rem;
  }

  @include breakpoint(xxl) {
    --fs-nav: calc(var(--fs-base) * 1.7);
    --fs-h1: calc(var(--fs-base) * 2.6);
    --fs-h2: calc(var(--fs-base) * 1.9);
    --fs-text: calc(var(--fs-base) * 1.7);
    --fs-cell: calc(var(--fs-base) * 2);
    --fs-timer: calc(var(--fs-base) * 2.5);
    --fs-btn: calc(var(--fs-base) * 1.5);
  }
}
