@use "../abstracts/" as a;

.btn {
  padding: 0.5rem;
  background: var(--bg-color-disabled);
  color: var(--color-text-disabled);

  border: none;
  border-radius: var(--b-rad-xsm);
  transition: all 0.3s;

  & > *:not(:last-child) {
    margin-bottom: 0.2rem;
  }

  &__logo {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
  }

  &__text {
    font-size: var(--fs-btn);
    text-transform: uppercase;
    color: currentColor;
  }

  &--solve,
  &--check,
  &--new,
  &--clear {
    flex: 1;
  }

  &--timer {
    width: 100%;
    height: 4rem;
    order: -1;

    background: var(--color-grey-light);
    color: var(--color-text);
    font-size: var(--fs-timer);
    text-transform: uppercase;
  }
}

