@use "../abstracts/" as a;

.btn {
  padding: 0.5rem;
  border: none;
  border-radius: var(--b-rad-xsm);
  background: #cecdcd;
  color: var(--color-text);
  transition: transform 0.2s;

  & > *:not(:last-child) {
    margin-bottom: 0.2rem;
  }

  &__logo {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
  }

  &__text {
    font-size: var(--fs-btn);
    text-transform: uppercase;
  }

  &--solve,
  &--check,
  &--new,
  &--clear {
    flex: 1;
  }

  &--timer {
    width: 100%;
    height: 4rem;
    order: -1;

    font-size: var(--fs-timer);
    text-transform: uppercase;
    background: var(--color-grey-light);
  }
}

.enabled {
  background: var(--color-grey-light);

  &:active {
    transform: translateY(2px);
  }
}
