main {
  display: grid;
  grid-template-areas:
    "nav"
    "board"
    "rules"
    "notes";
  grid-template-rows: repeat(4, min-content);

  justify-items: center;
  align-content: start;
  grid-gap: 2rem;

  height: 100vh;
}
