.nav {
  grid-area: nav;
  justify-self: stretch;
  padding: 2rem;
  background-color: var(--bg-color);

  display: flex;
  align-items: end;

  &__icon {
    // height: 3rem;
    // width: 3rem;
    font-size: 3rem;
  }
}
