@use "../base" as *;

.nav {
  grid-area: nav;
  justify-self: stretch;

  padding: 1rem 2rem;
  background-color: var(--bg-color);

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__title {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &__links {
    ul {
      display: flex;
      align-items: end;
      width: 100%;

      @include breakpoint-down(medium) {
        flex-direction: column;
      }
    }

    li {
      padding: 1rem;
      border-radius: var(--b-rad-xsm);
      flex-grow: 1;
      width: 100%;
      text-align: center;
    }

    li:hover {
      background-color: var(--bg-color-dark);
    }

    @include breakpoint-down(medium) {
      display: none;
      width: 100%;
    }
  }

  &__icon {
    --dimension: 2rem;
    height: var(--dimension);
    width: var(--dimension);
    margin-bottom: 0.4rem;

    @include breakpoint(small) {
      --dimension: 2.5rem;
    }

    @include breakpoint(large) {
      --dimension: 3.5rem;
    }
  }

  &__toggle {
    order: 1;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    height: 18px;
    width: 23px;

    @include breakpoint(small) {
      height: 25px;
      width: 30px;
    }

    @include breakpoint-down(medium) {
      display: flex;
      order: 0;
    }

    & > * {
      height: 3px;
      width: 100%;
      background-color: #000;
      border-radius: 10px;
    }
  }

  &__break {
    @include breakpoint-down(medium) {
      flex-basis: 100%;
      height: 0;
    }
  }
}

.active {
  display: flex;
}
