@use "../abstracts/" as a;
@use "../base/" as *;

.board,
.btns,
.explanation,
.about__card {
  background-color: var(--bg-color);
  border-radius: var(--b-rad-med);
}


.rules,
.notes,
.about__card {
  line-height: 1.2;
  padding: 1.5rem;
  border-radius: var(--b-rad-med);

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.rules,
.notes {
  background: var(--bg-color);
}


.about {
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-areas: 
    ". card1 ."
    ". card2 ."
    ". card3 .";

  justify-content: center;
  margin-top: 2rem;
  gap: var(--gap-medium);

  &__link,
  &__link:visited {
    display: inline;
    text-decoration: underline;
    color: blue;
  }

  &__card {
    &--1 {
      grid-area: card1;
    }

    &--2 {
      grid-area: card2;
    }

    &--3 {
      grid-area: card3;
    }

  }
}

.explanation {
  grid-area: explanation;
  background: none;

  display: grid;
  gap: var(--gap-medium);
  align-items: stretch;

  @include breakpoint(large) {
    justify-self: start;
  }
}

.footer {
  grid-area: footer;
  padding: 2rem 1rem;
  text-align: center;
  font-size: var(--fs-text);

  & a {
    color: blue;
  }
}

