@use "../abstracts/" as a;

.board,
.btns,
.rules,
.notes {
  background-color: var(--bg-color);
  width: calc(100% - 4rem);
  border-radius: a.$border-radius-md;
}

.btns {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.rules,
.notes {
  line-height: 1.2;
  padding: 1.5rem;

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

