*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

html {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

input {
  border: 1px solid #aaa;
}

* {
  font-family: inherit;
}

html {
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
p,
input,
a,
a:visited {
  color: var(--color-text);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

p,
input {
  font-size: var(--fs-text);
}

li {
  font-size: var(--fs-nav);
}

.bb {
  border-bottom: var(--border-black-thick) !important;
}

.bt {
  border-top: var(--border-black-thick) !important;
}

.bl {
  border-left: var(--border-black-thick) !important;
}

.hint {
  background-color: #ddd !important;
  opacity: 1 !important;
}

.enabled {
  background: var(--color-grey-light) !important;
  color: var(--color-text) !important;
}
.enabled:active {
  transform: translateY(2px) !important;
}

.active {
  display: flex !important;
}

:root {
  --bg-color: #aadeff;
  --bg-color-dark: #8acbf4;
  --bg-color-disabled: #e6e6e6;
  --color-text: #000;
  --color-text-disabled: #7b7575;
  --color-grey-light: #fdfdfd;
  --fs-base: 1rem;
  --fs-nav: calc(var(--fs-base) * 1.1);
  --fs-h1: calc(var(--fs-base) * 1.3);
  --fs-h2: calc(var(--fs-base) * 1.2);
  --fs-text: calc(var(--fs-base) * 1);
  --fs-cell: calc(var(--fs-base) * 1);
  --fs-timer: calc(var(--fs-base) * 1.5);
  --fs-btn: calc(var(--fs-base) * 0.7);
  --b-rad-xsm: 0.3rem;
  --b-rad-sm: 0.5rem;
  --b-rad-med: 0.7rem;
  --border-black-thick: 3px solid #000;
  --gap-small: 1rem;
  --gap-medium: 2rem;
}
@media (min-width: 25em) {
  :root {
    --fs-nav: calc(var(--fs-base) * 1.4);
    --fs-h1: calc(var(--fs-base) * 1.8);
    --fs-h2: calc(var(--fs-base) * 1.5);
    --fs-text: calc(var(--fs-base) * 1.2);
    --fs-cell: calc(var(--fs-base) * 1.2);
  }
}
@media (min-width: 37.5em) {
  :root {
    --fs-nav: calc(var(--fs-base) * 1.3);
    --fs-h1: calc(var(--fs-base) * 2);
    --fs-h2: calc(var(--fs-base) * 1.7);
    --fs-text: calc(var(--fs-base) * 1.2);
    --fs-cell: calc(var(--fs-base) * 1.5);
    --fs-timer: calc(var(--fs-base) * 2);
    --fs-btn: calc(var(--fs-base) * 1);
  }
}
@media (min-width: 56.25em) {
  :root {
    --fs-nav: calc(var(--fs-base) * 1.5);
    --fs-h1: calc(var(--fs-base) * 2.3);
    --fs-h2: calc(var(--fs-base) * 1.7);
    --fs-text: calc(var(--fs-base) * 1.1);
    --fs-cell: calc(var(--fs-base) * 1.6);
    --fs-timer: calc(var(--fs-base) * 2.2);
    --fs-btn: calc(var(--fs-base) * 1.2);
  }
}
@media (min-width: 65.625em) {
  :root {
    --fs-text: 1.3rem;
  }
}
@media (min-width: 90em) {
  :root {
    --fs-nav: calc(var(--fs-base) * 1.7);
    --fs-h1: calc(var(--fs-base) * 2.6);
    --fs-h2: calc(var(--fs-base) * 1.9);
    --fs-text: calc(var(--fs-base) * 1.7);
    --fs-cell: calc(var(--fs-base) * 2);
    --fs-timer: calc(var(--fs-base) * 2.5);
    --fs-btn: calc(var(--fs-base) * 1.5);
  }
}

.about {
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-areas: ". card1 ." ". card2 ." ". card3 .";
  justify-content: center;
  margin-top: 2rem;
  gap: var(--gap-medium);
}
.about__link, .about__link:visited {
  display: inline;
  text-decoration: underline;
  color: blue;
}
.about__card--1 {
  grid-area: card1;
}
.about__card--2 {
  grid-area: card2;
}
.about__card--3 {
  grid-area: card3;
}

.nav {
  grid-area: nav;
  justify-self: stretch;
  padding: 1rem 2rem;
  background-color: var(--bg-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav__title {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.nav__links ul {
  display: flex;
  align-items: end;
  width: 100%;
}
@media (max-width: 37.49875em) {
  .nav__links ul {
    flex-direction: column;
  }
}
.nav__links li {
  border-radius: var(--b-rad-xsm);
  flex-grow: 1;
  width: 100%;
  text-align: center;
}
.nav__links li a {
  padding: 1rem;
  display: block;
  height: 100%;
  width: 100%;
}
.nav__links li:hover {
  background-color: var(--bg-color-dark);
}
@media (max-width: 37.49875em) {
  .nav__links {
    display: none;
    width: 100%;
  }
}
.nav__icon {
  --dimension: 2rem;
  height: var(--dimension);
  width: var(--dimension);
  margin-bottom: 0.4rem;
}
@media (min-width: 25em) {
  .nav__icon {
    --dimension: 2.5rem;
  }
}
@media (min-width: 56.25em) {
  .nav__icon {
    --dimension: 3.5rem;
  }
}
.nav__toggle {
  order: 1;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  width: 23px;
}
@media (min-width: 25em) {
  .nav__toggle {
    height: 25px;
    width: 30px;
  }
}
@media (max-width: 37.49875em) {
  .nav__toggle {
    display: flex;
    order: 0;
  }
}
.nav__toggle > * {
  height: 3px;
  width: 100%;
  background-color: #000;
  border-radius: 10px;
}
@media (max-width: 37.49875em) {
  .nav__break {
    flex-basis: 100%;
    height: 0;
  }
}

.main {
  display: grid;
  grid-template-areas: "nav nav nav" ". board ." ". buttons ." ". explanation ." ". footer .";
  grid-template-rows: repeat(5, min-content);
  grid-template-columns: 0.5fr 20fr 0.5fr;
  gap: var(--gap-medium);
}
@media (min-width: 56.25em) {
  .main {
    grid-template-areas: "nav nav nav nav nav" ". board board explanation ." ". board board explanation ." ". buttons buttons explanation ." "footer footer footer footer footer";
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: 1fr repeat(3, 5fr) 1fr;
  }
}

.board,
.btns,
.explanation,
.about__card {
  background-color: var(--bg-color);
  border-radius: var(--b-rad-med);
}

.rules,
.notes,
.about__card {
  line-height: 1.2;
  padding: 1.5rem;
  border-radius: var(--b-rad-med);
}
.rules > *:not(:last-child),
.notes > *:not(:last-child),
.about__card > *:not(:last-child) {
  margin-bottom: 1rem;
}

.rules,
.notes {
  background: var(--bg-color);
}

.explanation {
  grid-area: explanation;
  background: none;
  display: grid;
  gap: var(--gap-medium);
  align-items: stretch;
}
@media (min-width: 56.25em) {
  .explanation {
    justify-self: start;
  }
}

.btns {
  grid-area: buttons;
  justify-self: stretch;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap-small);
}
@media (min-width: 56.25em) {
  .btns {
    align-self: stretch;
  }
}

.footer {
  grid-area: footer;
  padding: 2rem 1rem;
  text-align: center;
  font-size: var(--fs-text);
}
.footer a {
  color: blue;
}

.board {
  aspect-ratio: 1/1;
  padding: 1rem;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
  grid-area: board;
}
.board__cell {
  height: 100%;
  width: 100%;
  background-color: var(--color-grey-light);
  color: var(--color-text);
  border-radius: 0;
  text-align: center;
  font-size: var(--fs-cell);
  font-weight: 400;
}
.board > input:nth-child(3n) {
  border-right: var(--border-black-thick);
}
.board > input:nth-child(1) {
  border-top-left-radius: var(--b-rad-sm);
}
.board > input:nth-child(9) {
  border-top-right-radius: var(--b-rad-sm);
}
.board > input:nth-child(73) {
  border-bottom-left-radius: var(--b-rad-sm);
}
.board > input:nth-child(81) {
  border-bottom-right-radius: var(--b-rad-sm);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  appearance: none;
  outline: none;
  -moz-appearance: textfield;
}

.btn {
  padding: 0.5rem;
  background: var(--bg-color-disabled);
  color: var(--color-text-disabled);
  border: none;
  border-radius: var(--b-rad-xsm);
  transition: all 0.3s;
}
.btn > *:not(:last-child) {
  margin-bottom: 0.2rem;
}
.btn__logo {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
}
.btn__text {
  font-size: var(--fs-btn);
  text-transform: uppercase;
  color: currentColor;
}
.btn--solve, .btn--check, .btn--new, .btn--clear {
  flex: 1;
}
.btn--timer {
  width: 100%;
  height: 4rem;
  order: -1;
  background: var(--color-grey-light);
  color: var(--color-text);
  font-size: var(--fs-timer);
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
