@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");

:root {
  --gap: 20px;
  --color: rgb(177, 235, 215);
  --radius: 10px;
  --border: #000;
  --border-weight: 3px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  height: 100vh;
}

/* Nav-bar */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 5%;
  background-color: var(--color);
  margin-bottom: var(--gap);
}

li,
a,
#logo {
  text-decoration: none;
  color: black;
}

#logo {
  margin-right: auto;
}

.nav-items {
  list-style: none;
}

.nav-items li {
  display: inline-block;
  padding: 0 20px;
  font-size: 25px;
  font-weight: 600;
}

.nav-items li:hover {
  cursor: pointer;
}

/* Webpage layout */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(2, 250px) auto;
  grid-gap: var(--gap);
  justify-content: center;
  margin-bottom: var(--gap);
}

.grid-item {
  background-color: var(--color);
  border-radius: 10px;
}

.board {
  grid-row: span 2;
  width: 500px;
  height: 520px;
}

.rules {
  grid-column-start: 2;
  height: 250px;
  width: 370px;
}

.notes {
  grid-row: span 2;
  height: 350px;
  width: 370px;
}

.buttons {
  grid-row-start: 3;
  height: 80px;
}

/* Sudoku board */
.board {
  display: grid;
  grid-template-columns: repeat(9, 50px);
  grid-template-rows: repeat(9, 50px);
  justify-content: center;
  align-content: center;
}

.cell {
  border: 1px solid grey;
  border-top: none;
  border-left: none;
  text-align: center;
  font-size: 25px;
  color: black;
}

.row-divider {
  border-bottom: var(--border-weight) solid var(--border);
}

.col-divider {
  border-right: var(--border-weight) solid var(--border);
}

.top-edge {
  border-top: var(--border-weight) solid var(--border);
}

.left-edge {
  border-left: var(--border-weight) solid var(--border);
}

.tl-corner {
  border-top-left-radius: var(--radius);
}

.tr-corner {
  border-top-right-radius: var(--radius);
}

.bl-corner {
  border-bottom-left-radius: var(--radius);
}

.br-corner {
  border-bottom-right-radius: var(--radius);
}

.sudoku-hint {
  background-color: rgb(230, 230, 230);
  font-weight: bold;
  color: black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Rules & Notes */
.rules,
.notes {
  display: flex;
  flex-direction: column;
  padding: var(--gap) var(--gap) 0 var(--gap);
  text-align: left;
  line-height: 30px;
}

p {
  font-size: 16px;
  font-weight: 400;
}

h2 {
  font-weight: 600;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;
}

.button:first-child {
  margin-left: 20px;
}

.button:last-child {
  margin-right: 20px;
}

.create-button {
  height: 50px;
  width: 44%;
  font-size: 20px;
}

.play-button {
  height: 50px;
  width: 15%;
  font-size: 25px;
  justify-content: center;
}

.button-text,
.button-icon {
  display: flex;
  align-items: center;
  padding: 0 35px;
  height: 100%;
  width: 100%;
}

.button-icon {
  background-color: rgba(177, 235, 215, 0.35);
}

.button,
.play-button,
.button-icon,
.button-text {
  transition: all 0.3s ease;
}

.create-button:hover .button-icon {
  background-color: #fff;
}

.create-button:hover .button-text {
  background-color: rgba(177, 235, 215, 0.35);
}

.create-button:active .button-text {
  background-color: rgba(177, 235, 215, 0.5);
}

.create-button:active .button-icon {
  background-color: rgba(177, 235, 215, 0.5);
}

.play-button:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.play-button:active {
  background-color: rgba(0, 0, 0, 0.18);
}

/* Examples */
#example,
#invalid,
#unsolvable {
  text-decoration: underline;
  cursor: pointer;
}

/* Timer */
#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 20%;
  background-color: #fff;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
}

/* About section */
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.website-content,
.puzzle-generation,
.solver-algorithm,
.icons {
  width: 50%;
}

.about-section div p {
  background-color: var(--color);
  padding: 10px;
  border-radius: var(--radius);
  margin-top: 10px;
  line-height: 30px;
}

.icons p a,
.icon-credit a,
.puzzle-generation p a {
  color: rgb(45, 45, 247);
  text-decoration: underline;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
